# LIST

In [3]:
# List are used to store multiple values in a single variable .

# It is defined in Squared bracket and it takes duplicate values.

# It is mutuable (changing values in a list)

In [41]:

veg = ["Carrot", "Dish", "Soup"]
print(veg)

['Carrot', 'Dish', 'Soup']

In [53]:
# allow Duplicates 

veg = ["Carrot", "Dish", "Soup", "Dish"]
print(veg)
print(len(veg))
type(veg)

['Carrot', 'Dish', 'Soup', 'Dish']
4

list

In [45]:
# Change of items in a List 

fruit = ["Apple", "Mango", "Banana", "Watermelon","Watermelon"]
print(fruit)
fruit[3] = "Guava"
print(fruit)

['Apple', 'Mango', 'Banana', 'Watermelon', 'Watermelon']
['Apple', 'Mango', 'Banana', 'Guava', 'Watermelon']

In [69]:
# Change of values in a list

g = [1, 3, 5, 7, 9, 11, 13, 15, 15, 17, 19]
g[:6] = [2, 4, 6, 8, 10]
print(g)
g[7:] = [34, 54, 64, 74]
g

[2, 4, 6, 8, 10, 13, 15, 15, 17, 19]

[2, 4, 6, 8, 10, 13, 15, 34, 54, 64, 74]

In [27]:
# Insert values in a list on a positioned one.

g = [1, 3, 5, 7, 9, 11, 13, 15, 15, 17, 19]
g.insert (5, 32)
print(g)

[1, 3, 5, 7, 9, 32, 11, 13, 15, 15, 17, 19]

In [29]:
# Adding values in a list at end.

g.append(43)
print(g)

[1, 3, 5, 7, 9, 32, 11, 13, 15, 15, 17, 19, 43]

In [37]:
#Removing values in a list.

g.remove(7)
print(g)

[1, 5, 9, 32, 11, 13, 15, 15, 17, 19, 43]

In [88]:
#Removing values from the indexing value in a list.

g.pop(2)
print(g)

g.append(23)
g

[1, 5, 13, 15, 15, 17, 19, 43]

[1, 5, 13, 15, 15, 17, 19, 43, 23]

In [92]:
# seperating the values from one range to other range in a list.

for values in g:
    if values>5 and values<=20:
        print(values)

13
15
15
17
19

In [94]:
# Adding two values from a list in a single variable on a list. 

group1 = [23, 43, 545, 656, 776, 787, 12, 11, 1, 2, 5]
group2 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
group1.extend(group2)
print(group1)

[23, 43, 545, 656, 776, 787, 12, 11, 1, 2, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]