# OPERATORS

<font size = '5'>ARITHMETIC OPERATORS</font>

In [12]:
#Used to perform as mathematical operations 

#ADD

x=7
y=9
print(x+y)

16

In [30]:
#SUB

h=26+2j
i=3j+12
print(h-i)

(14-1j)

In [44]:
#DIV - [Quotient takes place]

a=21.7
b=7.0
print(a/b)

3.1

In [50]:
#Multiply

g=231
h=4
print(g*h)

924

In [54]:
#Poweroff

b=12
c=2
print(b**c)

144

In [77]:
#ForeDivison [Decimal Exists]

x=20
y=5
print(x//y)

4

In [79]:
#Percentage or Modlus [Remainder takes place]

a=10000
b=52
print(a%b)

16

In [113]:
#operators assigned with the input()

a=int(input("enter the num"))
b=int(input("enter your num"))
out=a+b
put=a*b
print(out,put)

enter the num 43
enter your num 4

47 172

<font size ='5'>ASSIGNMENT OPERATOR</font>

In [61]:
#deafult values to be edited

a=4
a+=1
print(a)

5

In [63]:
#sub

b=4
b-=1
print(b)

3

In [65]:
#Multiply

c=32
c*=3
print(c)

96

In [81]:
#Divide

d=21
d/=7
print(d)

3.0

In [117]:
#assigned with input()

v=int(input("Enter the num:"))
v1=int(input("Enter the num:"))
v+=3
v1-=5
print(v, v1)

Enter the num: 43
Enter the num: 12

46 7

<font size ='5'>COMPARISON OPERATOR</font>

In [128]:
#equal to 

a=4550
b=10
print(a==b)

False

In [130]:
#Grreater than 

print(a>b)

True

In [132]:
#Lower than

print(a<b)

False

In [178]:
#Not equalto

print(a!=b)

True

In [226]:
#Greater than equalto

print(a>=b)

True

In [230]:
#Lower than equalto

print(a<=b)

False

<font size ='5'>LOGICAL OPERATOR</font>

In [130]:
#divides and checks if something is true or false

a=5 

#AND
print(a<10 & a>7)            # False → both condt is not true.

#OR
print(a<10 | a>7)            # True → One condt is true; Other condt is false.

#NOT
print(not(a<10 | a>7))      # False → flips true where one condt is true.

False
True
False

<font size ='5'>IDENTITY OPERATOR</font>

In [134]:
# 'checks if both two variables are to same object; not if they have same value'

#IS 
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)      # True  → same object
print(a is c)      # False → same value, but different objects
print(a == c)      # True  → values are equal

True
False
True

In [136]:
#IS NOT

x=[1123]
y=[1123]
v=y
v=x

print(x is not y)   # True  → same value, but different objects
print(v is not x)   # False → same object.
print(v == y)       # True  → values are equal.

True
False
True

<font size ='5'>MEMBERSHIP OPERATOR</font>

In [162]:
# Checks if a value exists inside a sequence.

# IN                     

a = ["DAX"]
b = ["DAXS"]

print( "DAS" in b)     # False → Value is not present.
print("DAX" in a)      # True  → Value is Present.

False
True

In [164]:
#IS NOT
                               
a = ["43,22"] 
print("43,22"  not in a)           # False  → Value is Present. 
print("43,22,12"not in a)          # True   → Value is not present.

False
True