# LIST, TUPLE, SET & DICTIONARY

In [9]:
#values are formatted in 'LIST', 'TUPLE', 'SET' & 'DICTIONARY'.

#LIST
a = ["Fresh", 2, "Apple", 0, True]
print(a)

#TUPLE
b = ("Fresh", 2, "Apple", 0, True)
print(b)

#SET
c = {"Fresh", 2, "Apple", 0, True}

#DICTIONARY
d = {"Scores" : "FOOTBALL", "PSG" : 32, "BRAZIL" : 12, "UAE" : 20}
print(d)

['Fresh', 2, 'Apple', 0, True]
('Fresh', 2, 'Apple', 0, True)
{'Scores': 'FOOTBALL', 'PSG': 32, 'BRAZIL': 12, 'UAE': 20}

<font size = '5.3'>INSERTING VALUES</font>

In [31]:
#values are inserted in 'LIST', 'TUPLE', 'SET' & 'DICTIONARY'.

#LIST   → (INSERT)
e = ["Dave", 43, "Free", "BK", 2]
e.insert(4, "Brave")
print(e)

#TUPLE  → (change into list and can able to add values and back to old).
f = ("Dave", 43, "Free", "BK", 2)
f1 = list(f)
f1.append("CSK")
print(f1)

#SET → (ADD)
g = {"APPLE", "BLUEBERRY", "CARROT"}
g.add("WATERMELON")
print(g)

#DICTIONARY → (UPDATE & Can directly add the values)
h = {"Scores" : "FOOTBALL", "PSG" : 32, "BRAZIL" : 12, "UAE" : 20}
h["MANCHESTER"] = 55
print(h)

h.update({"FC-BARCELONA" : 100 })
print(h)

['Dave', 43, 'Free', 'BK', 'Brave', 2]
['Dave', 43, 'Free', 'BK', 2, 'CSK']
{'BLUEBERRY', 'CARROT', 'APPLE', 'WATERMELON'}
{'Scores': 'FOOTBALL', 'PSG': 32, 'BRAZIL': 12, 'UAE': 20, 'MANCHESTER': 55}
{'Scores': 'FOOTBALL', 'PSG': 32, 'BRAZIL': 12, 'UAE': 20, 'MANCHESTER': 55, 'FC-BARCELONA': 100}

<font size = '5.3'>REMOVING VALUES</font>

In [45]:
#Values are removed in 'LIST', 'TUPLE', 'SET' & 'DICTIONARY'.

#LIST → (REMOVE) → [POP(by selected index)]
a = ["apple", "banana", "cherry"]
a.remove("apple")
print(a)

b = ["apple", "banana", "cherry"]
b.pop(2)
print(b)

#TUPLE → (removing values by changing into list and back to original).
s1 = ("Fresh", 2, "Apple", 0, True)
s = list(s1)
s.remove(2)
s

#SET → (DISCARD)
d = {1, 2, 4, 5, 9, "HAIYRE"}
d.discard("HAIYRE")
print(d)

#DICTIONARY → (POP by just keys)
g = {"Scores" : "FOOTBALL", "PSG" : 32, "BRAZIL" : 12, "UAE" : 20}
g.pop("UAE")
print(g)

['banana', 'cherry']
['apple', 'banana']
{1, 2, 4, 5, 9}
{'Scores': 'FOOTBALL', 'PSG': 32, 'BRAZIL': 12}