# INHERTANCE

In [ ]:
# Creating a parent class for inherit the other classes .

<font size = '5'> 

1. SINGLE INHERITANCE

2. MULTIPLE INHERITANCE

3. MULTI-LEVEL INHERITANCE
  
4. HEIRACHICAL INHERITANCE
 
5. HYBRID INHERITANCE
</font>

# 1.SINGLE INHERITANCE

In [37]:
# Can able to access only one class to other class .

class Dad:
    def de(self):
        print("Hi welcome")
class Son(Dad):
    def dee(self):
        print("you all to this world.")

f = Son()

f.de()
f.dee()

Hi welcome
you all to this world.

<font size = '5.3'> 1.1 SINGLE INHERITANCE BY USER INPUT</font>

In [103]:
#Parent Class.

class dad:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
          return f"{self.name} and my age is {self.age}."

#Child Class.
class child(dad):
    def show(self):
        print(f)
        
name = input("enter your name:")
age = int(input("enter your age:"))


f = child(name, age)
f.show()

enter your name: Jaynth
enter your age: 21

Jaynth and my age is 21.

# 2.MULTIPLE INHERITANCE

In [149]:
# Can able to access more than one parent class into other class.


# 1st PARENT CLASS:

class parent1:
    def __init__(self,name,age,dept):
        self.name=name
        self.age=age
        self.dept=dept
    def details(self):
        print(self.name)

#1ST SUB CLASS:
class child1:
    def show1(self):
        print(self.age)

# 2ND SUB CLASS:
class child2:
    def show2(self):
        print(self.dept)

#FINAL CLASS:
class child(parent1,child1,child2):
    def show(self):
        print(f"My name is {self.name} and my age is {self.age} from {self.dept} department")


name=input("enter your name")
password=int(input("enter your password"))


if name=="france" and password== 213:
    p1=child("FRANCE",23,"EEE")
    p1.show()
else:
    print("wrong password")

enter your name france
enter your password 213

My name is FRANCE and my age is 23 from EEE department

# 3. MULTI-LEVEL INHERITANCE

In [158]:
# Combining one by one class into last class.

class Grandparent:
    def __init__(ads, name, age):
        ads.name = name
        ads.age = age

class parent(Grandparent):
    def __str__(ads):
        return f"Hi I am {ads.name} and my age is {ads.age}"

class child1(parent):
    def show(ads):
        print(ads)

class family(child1):
    def display(ads):
        ads.show()

# User input
name = input("NAME:")
age  = int(input("AGE:"))

# Object creation with arguments
af = family(name, age)
af.display()

NAME: Cris
AGE: 32

Hi I am Cris and my age is 32

# 4.HIERACHICAL INHERITANCE

In [186]:
#Combining only parent classs into other class:


#MAIN CLASS:
class College:
    def __init__(ids, name, place, dept):
        ids.name = name
        ids.place = place
        ids.dept = dept

#SUB1 CLASS:
class Professor(college):
    def show(ids):
        print(f"My name is {ids.name} from {ids.place} and handling {ids.dept} department")

#SUB2 CLASS:
class Student(college):
    def show(ids):
        print(f"My name is {ids.name} from {ids.place} and studying in {ids.dept} department")

#LOGIN USER INPUT:
User_name=input("enter your name:")
password=int(input("enter your password:"))

#PERSONAL DETAILS INPUT:
name  = input("NAME:")
place = input("place:")
dept  = input("DEPT:")

#CHECK LOGIN and SHOW OUTPUT:
if User_name=="Heist" and password== 420:
    pr= Professor(name, place, dept)
    pr.show()
elif User_name =="Travis" and password == 619:
    st = Student(name, place, dept)
    st.show()
else:
    print("wrong password")

enter your name: Heist
enter your password: 420
NAME: Java
place: Chennai
DEPT: Computer Science

My name is Java from Chennai and handling Computer Science department

# 5.HYBRID INHERITANCE

In [192]:
# Con able to access any classes into next on any classes without Connectivity.

class Bus:
    def __init__(self, place, seats):
        self.place  = place
        self.seats  = seats

class Travel:
    def __init__(self, routes, price):
        self.routes = routes
        self.price = price

class Terminal(Bus):
    def show(self):
        return f"Buses from {self.palce} and occupy seats of {self.seats}"

class City(Terminal, Travel):
    def __init__(self, place, seats, routes, price):
        Bus.__init__(self, place, seats)
        Travel.__init__(self, routes, price)

    def show(self):
        print(f"Buses in {self.place} occupy seats of {self.seats} and travels from routes {self.routes} and charges of {self.price} per person")

TN_Bus = City("Koyambedu", 32+4, "M.G.R.BT - KCBT", "Rs.60")
TN_Bus.show()

Buses in Koyambedu occupy seats of 36 and travels from routes M.G.R.BT - KCBT and charges of Rs.60 per person

<font size = '5.6'> 1.1 BY USER INPUT SAME FORMAT.</font>

In [203]:
class Bus:
    def __init__(self, place, seats):
        self.place  = place
        self.seats  = seats

class Travel:
    def __init__(self, routes, price):
        self.routes = routes
        self.price = price

class Terminal(Bus):
    def show(self):
        return f"Buses from {self.palce} and occupy seats of {self.seats}"

class City(Terminal, Travel):
    def __init__(self, place, seats, routes, price):
        Bus.__init__(self, place, seats)
        Travel.__init__(self, routes, price)

    def show(self):
        print(f"Buses in {self.place} occupy seats of {self.seats} and travels from routes {self.routes} and charges of {self.price} per person")

#User Input Format:
place  = input("enter the place:")
seats  = int(input("enter the seats:"))
routes = input("enter the routes:")
price  = input("enter the price:")

TN_Bus = City(place, seats, routes, price)
TN_Bus.show()

enter the place: CHENNAI
enter the seats: 42
enter the routes: Dr.M.G.R BT - KCMBT
enter the price: Rs.60

Buses in CHENNAI occupy seats of 42 and travels from routes Dr.M.G.R BT - KCMBT and charges of Rs.60 per person