# LOOPS

In [ ]:
#Exceution is done when it is reacches it condition.

<font size = '5'>FOR LOOPS</font>

In [45]:
# condition follows until the loop ends.

Fruits = {"APPLE", "Cherry", "Watermelon"}
for i in Fruits:                                        #by strings
    print(i)


number = [12, 24, 36, 48, 60, 72, 84, 96]
for j in range(len(number)):                            #by integers
   print(number[j])

APPLE
Cherry
Watermelon
12
24
36
48
60
72
84
96

In [47]:
#Multiple index in a single string

a = "MATHEMATICAL"
for j in a:
    print(j)

M
A
T
H
E
M
A
T
I
C
A
L

<font size = '5.1'>PASS > CONTINUE > BREAK</font>

In [57]:
#PASS -> it doesn't include errors. 

a =("Feevr", "LinkedIN", "NAkuri")
for i in a :
    if i =="Feevr":
     pass

In [102]:
#CONTINUE -> it leaves when condition reaches and execute other values

b = [2, 4, 6, 8, 10, 12, 14]
for j in b:
    if j ==8:
        continue
    print(j)

2
4
6
10
12
14

In [133]:
#BREAK -> it keep on looping until it reaches it need, and stops looping.

c = [2, 3, 13, 43, 53, 65, 70]
for k in c:
    if k == 53:
        break
    print(k)

2
3
13
43

In [137]:
#Directlty break the loop without assign of set or etc ..

for i in range(2, 30, 3):
    if i == 23:
        break
    print(i)

2
5
8
11
14
17
20

In [27]:
#FOR LOOPS for all 'SETS, TUPLES, LIST nd DICTIONARY'

#LIST

mylist1 = ["Apple", "Bannana", "Carrot", "Orange"]
for i in mylist1:
    if i == "Carrot":
        break
    print(i)

Apple
Bannana

In [29]:
#tuple

mytuple = ("arrow", "bust", "cat", "deer", "elephant")
for j in mytuple:
    if j == "cat":
        continue
    print(j)

arrow
bust
deer
elephant

In [31]:
#set

myset = {"arrow", "van", "next", "false", "gyne"}
for k in myset:
    if k == "next":
        break
    print(k)

In [33]:
#difference

mydifference = {"h1": 2, "h2": 3, "h3": 4, "h4": 5}
for m in mydifference.keys():
    if m == "h1":
        break 
print(m)

h1

<font size = '5'>While Loop</font>

In [36]:
#While loop 

i = 1
while i <5:
    print(i)
    i+=1

1
2
3
4

In [38]:
#while plays with continue keys.

i = 0
while i < 6:
    i += 2
    if i == 7:
        continue
    print(i)

2
4
6

In [40]:
#by following while loop decided where to be stored.

l = [2, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
male = []
female = []

i = 0
while i < len(l):
    if l[i] % 2 == 0:
        male.append(l[i])
    else:
        female.append(l[i])
    i += 1

print("male id", male)
print("female id:", female)

male id [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
female id: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]