# SETS

In [ ]:
# a collection of unique items in Python.
# It means no duplicates and the order doesn't matter.

In [14]:
set1 = {"Axe", "British", "Mansion", "Label", 12, 32, 44, True, False}
set1

{12, 32, 44, 'Axe', 'British', False, 'Label', 'Mansion', True}

In [8]:
# No duplicates .

a={1,1,2,2,2,2,3,4,4}
a

{1, 2, 3, 4}

In [22]:
# Converting list into sets

list1 = ["Apple", 2, "Barcels", 4]
set2 = set(list1)
set2

{2, 4, 'Apple', 'Barcels'}

<font size = '5'> ADDING VALUES IN A SETS</font>

In [28]:
# Add

set3 = {4, 6, 7, 8, 9, 10, 11, 15, 15, 17, 18, 90,}
set3.add(33)
set3

{4, 6, 7, 8, 9, 10, 11, 15, 17, 18, 33, 90}

In [43]:
#Adding two sets into single . 

set3= {"asta", "bharat", "Cherv"}
list2= {"Bence", "Audi","Fero"}

set3.update(list2)

print(set3)

{'Bence', 'Cherv', 'Audi', 'asta', 'bharat', 'Fero'}

In [55]:
# Removing Values.

list2= {"Bence", "Audi","Fero"}
list2.discard("Fero")
list2

{'Audi', 'Bence'}

In [63]:
#removing values by their index sets.

myset = {"Def", "Ear", 3, 4.0, "saer", 0}
print(myset)

x = myset.pop()

print(x)
print(myset)

{0, 'Def', 3, 4.0, 'Ear', 'saer'}
0
{'Def', 3, 4.0, 'Ear', 'saer'}