# LIST

In [ ]:
#DATASET l=[1,22,3,44,55,6,11,1200]

In [42]:
#1. Add the number `4` at the 6th index of the list `l`.  

l=[1,22,3,44,55,6,11,1200]
l.insert(6, 4)
print(l)

[1, 22, 3, 44, 55, 6, 4, 11, 1200]

In [44]:
#2. Remove the value `44` from the list `l`.  

l.remove(44)
print(l)

[1, 22, 3, 55, 6, 4, 11, 1200]

In [46]:
#3. Append the number `88` to the end of the list `l`.  

l.append(88)
print(l)

[1, 22, 3, 55, 6, 4, 11, 1200, 88]

In [48]:
#4. Remove the value at the 2nd index of the list `l`.  

l.pop(2)
print(l)

[1, 22, 55, 6, 4, 11, 1200, 88]

In [50]:
#5. Merge the list `m = [1, 2, 3, 546]` into the list `l`.

m = [1, 2, 3, 546]
l.extend(m)
print(l)

[1, 22, 55, 6, 4, 11, 1200, 88, 1, 2, 3, 546]

# STRING

In [72]:
#1. Insert the substring `"Python"` at the 6th index of the string .  

s = "HelloWorld"
s1 = s[:6] + "Python" + s[6:]
print(s1)

HelloWPythonorld

In [86]:
#2. Remove the substring `"World"` from the string `s`.  

s = s.replace("World", "")
print(s)

Hello

In [90]:
#3. Append the substring `"2024"` to the end of the string `s`.  


s3 = s + "2024"
print(s3)

Hello2024

In [104]:
#4. Remove the character at the 2nd index of the string `s`.  


s4 = s[:2] + s[3:]
print(s4)

Helo2024

In [106]:
#5. Concatenate the string `t = "Programming"` to the string `s`.

t = "Programming"
s5 = s4 + t
print(s5)

Helo2024Programming

In [110]:
 s6 = s + t
print(s6)

Hello2024Programming

In [122]:
#6.Write a function to check if a given string is a palindrome (reads the same forwards and backwards).

m = "Basic"
print(is_palindrome(m))

False

In [134]:
#7.Check if String is Anagram . Write a function to check if two strings are anagrams of each other (contain the same characters in any order).


str1 = "evil"
str2 = "vile"
print(are_anagrams(str1, str2))

True

In [140]:
str1 = "Hello"
str2 = "World"
print(are_anagrams(str1, str2))

False

In [144]:
#8.Capitalize the Letter.

d = "hello world"
d= d.title()
print(d)

Hello World

In [146]:
#9. Swap Casing Letters.

j = "Hello World"
j = j.swapcase()
print(j)

hELLO wORLD