# TUPLE

In [ ]:
# Collection of list in a variable

# It is Unmutable and fasten process.

In [2]:
#By using Tuple Index value.

item = ("Apple", "Bat", "Cherry", "Dore", "Edfe")
print(item[2])

Cherry

In [8]:
#tuple using by for loop 

for market in range(len(item)):
    print(item[market])

Apple
Bat
Cherry
Dore
Edfe

In [103]:
#Sorting by Tuple.

a = [34, 23, 23, 45, 56, 76, 23, 111, 22, 2, 1, 0]
a.sort()
a

[0, 1, 2, 22, 23, 23, 23, 34, 45, 56, 76, 111]

In [28]:
# Reverse in Tuple.

a.reverse()
a

[111, 76, 56, 45, 34, 23, 23, 22, 2, 1, 0]

In [36]:
# Reversing a string values in  high to low.

b = ["Very", "Zebra", "Xylo", "apple", "bat"]
b.sort(reverse = True)
b

['bat', 'apple', 'Zebra', 'Xylo', 'Very']

In [79]:
#Copying a values from a tuple.

v =["Very", "Zebra", "Xylo", "apple", "bat"]
v.insert(2, "cycle")
f = v
f

['Very', 'Zebra', 'cycle', 'Xylo', 'apple', 'bat']

In [77]:
#Copying duplicate values from original tuple.

v =["Very", "Zebra", "Xylo", "apple", "bat"]
print(v)

f = v.copy()
print(f)

v.pop(3)
print(v)

print(f)

['Very', 'Zebra', 'Xylo', 'apple', 'bat']
['Very', 'Zebra', 'Xylo', 'apple', 'bat']
['Very', 'Zebra', 'Xylo', 'bat']
['Very', 'Zebra', 'Xylo', 'apple', 'bat']

In [97]:
# adding two tuples in a single sorted tuple variable.

group1 = ("Very", "Zebra", "Xylo", "apple", "apple", "bat")
group2 = ("Deer", "Lion", "tiger", "Pork")

print(tuple(sorted(group1+group2)))

('Deer', 'Lion', 'Pork', 'Very', 'Xylo', 'Zebra', 'apple', 'apple', 'bat', 'tiger')

In [3]:
# Tuple Using By for loop.

group2 = ["Deer", "Lion", "tiger", "Pork"]
group3 = []
for i in group2:
    group3.append(i)
print(group3)

['Deer', 'Lion', 'tiger', 'Pork']

<font size = "4">Changes IN Tuple</font>

In [18]:
# coverting tuple into list and Adding value in a list , then back to orginal . 

car = (12, 24, 36, 48, 60, 72, 84)
van = list(car)
van.append("FORD")
Cars = tuple(van)
print(van)
car

[12, 24, 36, 48, 60, 72, 84, 'FORD']

(12, 24, 36, 48, 60, 72, 84)

In [28]:
# Indexing values Based changes. 

van[3]= 23
van

[12, 24, 36, 23, 60, 72, 84, 'FORD']